@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add any of your own global CSS rules, custom fonts,
or other styles that you had in your previous index.css file,
BELOW these three @tailwind directives.
For example:
*/

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */